<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-25519.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AxolotlKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-DJWActionSheet.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-HKDFKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-JSQMessagesViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-JSQSystemSoundPlayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Mantle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-OpenSSL.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PastelogKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-ProtocolBuffers.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SQLCipher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SSKeychain.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SocketRocket.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-TwistedOakCollapsingFutures.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-UnionFind.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-YapDatabase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-libPhoneNumber-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>053ACCF8D81E17434E941624</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08538EC43E5F493AB0479867</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4290FB0677AC921905EFF25D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4826377414E9F1739ED76431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4842FAEDF1549FD280563F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C0C31F4B7535C424E8EF655</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6706ABCAB11A17278E473A90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8CDDFE460E3F3F11E31C2073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90CAFB4E05C8C2D526D69154</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAE01C32D27ED8E6BEAE92F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BEE49AB309636CC3C8544870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C002D02F689D0DDF2949CDEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0581218411C67923777B7DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DB6BB9F395848BC90D5FAFCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD2F63FD3AF73932F08824CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEDA9CF40D0D88FCE8D661AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E403D3A950270E3BB774FDC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EB18018553494B1ED512BB80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4166760421CAA091D11EC75</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F49DD6254034A9EE59C18040</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
