<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-MMDrawerController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-OpenSSL.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PastelogKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-UICKeyChainStore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-libPhoneNumber-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06BD927CCD0540C1AF91A211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1FD94FE9B86E45F5A5A19B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21441E6CA91D4D259BF84B10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25F1CFF55BB14FE592C1CF6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30E396BC56C44AC3A4964629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32DC6317BAB240F79DD22496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80545A506D31428684572FE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD569CBCB8DA42A5AF347CF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
