<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pods-25519.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AFNetworking.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-APDropDownNavToolbar.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-AxolotlKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-CocoaLumberjack.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-DJWActionSheet.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-EZAudio.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-FFCircularProgressView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-HKDFKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-JSQMessagesViewController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-JSQSystemSoundPlayer.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-Mantle.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-OpenSSL.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PastelogKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-ProtocolBuffers.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SQLCipher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SSKeychain.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SocketRocket.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-TwistedOakCollapsingFutures.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-UICKeyChainStore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-UnionFind.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-YapDatabase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-libPhoneNumber-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0236B41659DB3641832F9222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CDD9631177BA22128960B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>173407A7E8F18E93C57CF0AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3257FE0B9E01CC590F1EB2A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3656CD38B1C5F6001844361E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AB6C38D9AE525E8EF0085DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCEE406330DA6758B819207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52AED86CBAD7F93A8A7651E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55D02278ED24CB94F1F9D028</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B76571C9AC9CA61F78236CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6653867B69EE194C8E1D72BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>699F63D4516EED7E6238252C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AA9DB9315F7DEE4F174F3CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7382EE9B7F347465D0570417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7506B6665933E465CEBE4CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8954CB831FFF367F5E2D0E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A14C4ED129FC1C663FD5B39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A89B8392FD6FC47AA6C5D4E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D486C25A26308D2D68BF3E89</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8C7FB9192CE15A640108A9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1CC076419A0BD8F30D6A054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E827303262C92F0194E24D2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDBEE5EBE9FDBFFDF53FAC56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB4C14D9739A900FBC1CD01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
